<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Rooter Suite">
  <test name="BuyDiamondUITests">
  <listeners>
  <listener class-name="Trial.DetailedTextReportListener"/>
</listeners>
    <classes>
      <class name="Trial.Coin_Count"/>
    </classes>
  </test>
</suite>