<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Rooter Suite">
  <test name="BuyDiamondUITests">
    <listeners>
      <listener class-name="Trial.DetailedHtmlReportListener"/>
      <listener class-name="Trial.MyAnnotationTransformer"/>
      <listener class-name="Trial.TestResultCleanerListener"/>
      <listener class-name="Trial.RetryListener"/>
    </listeners>

    <classes>
    <class name="Trial.LikesCount_Script"/>
            <class name="Trial.CommentCount_Script"/>
                <class name="Trial.Coin_Count"/>

    </classes>
  </test>
</suite>
